*{
    margin: 0;
    padding: 0;
}
.form1{
    margin-top: 100px;
    text-align: center;
    height: 300px;
   
  
}

input{
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 22px;
    color: black;
    font-weight: bold;
    margin: 10px;
}
h1{
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 60px;
}
button{
    width: 100px;
    height: 30px;
    margin-right: 22px;
    font-size: 17px;
    margin-bottom: 10px;
}
h3{
    margin-right:15px ;
}
/* .parts{
    display: flex;
    justify-content: center;
    margin-top: 200px;
} */
/* 
input{
    width: 300px;
    height: 35px;
    margin: 20px;
    color: black;
    justify-content: center;
    
}

.form1{
    text-align: center;
    justify-content: center;
    width: 460px;
    box-shadow: 2px 2px 5px;
    height: 400px;
   background-color: rgb(94, 94, 244);
}

.form2{
    justify-content: center;
    width: 460px;
    height: 450px;
    /* box-shadow: 2px 2px 5px; 
    background-color: blue;
    align-items: center;
}
/* h1{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.form1 button{
    background-color: white;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 25px;
    text-align: center;
    margin-left: 5px;
    font-size: 18px;
}
.form1 button:hover{
    background-color: darkgrey;
    color: white;
}


.form1 h3{
    margin-left: 5px;
    color: rgb(242, 239, 249);
    font-size: 16px;
    margin-top: 10px;
}
 .form2 button{
    background-color:rgb(249, 249, 250);
    border: none;
    border-radius: 50px;
    width: 150px;
    color:blue;
    height: 25px;
    text-align: center;
    font-size: 16px;
    margin-left: 140px;
}
.form2 button:hover{
    background-color: darkgrey;
}
.form2 h1{
    color: white;
    font-size: 50px;
}

   */
.formbtn1{
    background-color:rgb(72, 135, 244);
    border: none;
    /* border-radius: 50px; */
    width: 160px;
    color:white;
    height: 40px;
    border: none;
    text-align: center;
    font-size: 16px;
    /* margin-left: 10px; */

}
.formbtn1:hover{
    background-color: chocolate;
}
.form1 h1{
    text-align: center;
   color: rgb(72, 135, 244);
   font-size: 60px;
   
}
.form1 h3{
    margin-left: 5px;
    color :rgb(72, 135, 244);
    font-size: 19px;
    margin-top: 10px;
} 